<div class="row">
  <div class="jumbotron">
  <h1>
    Welcome to Pantry Planner
  </h1>
  </div>
</div>
<h3>
  Login with Google to get started
</h3>
<div class="row">
    <a href="/auth/google/">
      <i class="fa fa-google-plus-square"></i>
    </a>
</div>
