<div class="container">
  <%= react_component 'UserIngredients', { pantry_items: @pantry_items,
                                           ingredients: @ingredients,
                                           searchPath: ingredient_search_path} %>
</div>
