<div data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.recipe-tile', repeat: true}">
   <%= react_component 'Recipes', { recipes: @recipes,
                                    user_ingredients: @user_ingredients} %>
</div>
