/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "uikit";
@import "uikit-components";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'landing-page';

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Special+Elite|Raleway|Bitter);



$light-grey: #F0F1EE;
$dark-purple: #333332;
$deep-blue: #1352A2;
$yellow: #FFD464;
$salmon: #FB6964;
$title-font:'Bitter', sans-serif;
$body-font:'Raleway', sans-serif;

.heading {
  font-family: $title-font;
  font-size: 4em;
}

.heading-box {
  background-color: rgba(45,49,57,.60);
  padding: 20px;
  border-radius: 20px;
}

body {
  font-family: $body-font
}

.navbar {
  background-color: #f6f7f8;
}

.ingredient-add {
  padding: 10px;
  text-align: center;
  margin: 5px;
}

.no-scroll {
   overflow: hidden;
}

.recipe-box {
   z-index: 1;
   position: fixed;
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;
   background:  rgba(8,34,68, .75);
}

.recipe-detail{
   margin: 15vh auto;
   width: 80%;
   max-width: 700px;
   padding: 30px;
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.hide {
  display: hidden;
}
