/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$search-placeholder-color: #233140 !default;
@import "uikit";
@import "uikit-components";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'landing-page';

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway|Bitter|Flamenco);

$light-grey: #F0F1EE;
$dark-grey: #aeb4a3;
$darker-grey: #252720;
$deep-blue: #415b77;
$yellow: #ffe7a8;
$trans-grey: rgba(199, 203, 191,.7);
$deep-yellow: #ffcf53;
$salmon: #FB6964;
$light-salmon:#fc9996;
$light-blue: #dce4ec;
$navy: #233140;
$trans-navy: rgba(35,49,64,.60);
$purple: #36436c;
$green: #587C72;
$dark-green: #004B36;
$orange: #ff6d33;
$light-orange: #ff8555;
$dark-orange: #B93E00;
$title-font:'Bitter', serif;
$body-font:'Raleway', sans-serif;
$accent-font:'Flamenco', sans-serif;

h1 {
  font-family: $title-font;
  text-align: center;
  padding:20px;
  font-size: 3em;
}

h2 {
  padding: 10px;
}

.top-section {
  padding: 50px;
  background-color: $deep-blue;
  h2, h1 {
    color: $deep-yellow;
  }
}

.form-text{
  padding:10px;
  color: $deep-yellow;
  font-size: 1.25em;
}

.bottom-section {
  padding: 50px;
  background-color: $light-grey;
  h2 {
    color:$deep-blue;
  }
}

.ingredient-list {
   min-height: 150px;
}

.heading {
  font-family: $title-font;
  font-size: 5em;
}

.heading-box {
  background-color: $trans-navy;
  padding: 20px;
  border-radius: 20px;
}

body {
  font-family: $body-font
}

.navbar, footer {
  background-color: $navy;
  border: none;
  font-family: $title-font;
  font-size: 1.5em;
  a {
    color: $yellow !important;
  }
  p, li {
    color: $salmon;
  }
  a:hover, a:focus, a:active, a.active {
      color: $green !important;
      text-decoration: none;
      outline: none;
  }
}

.ingredient-tile, .edit-pantry {
  padding: 10px;
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.edit-pantry {
  margin-left: 15px;
}

.ingredient{
  &.need{
    background-color: $light-grey;
    border: 1px solid $navy;
    color: $navy;
  }
  &.have{
    background-color: $dark-grey;
    color: $darker-grey;
    border: 1px solid $darker-grey;
  }
}
.add{
  background-color: $purple;
  border: 1px solid $navy;
  color: $light-grey;
}
.delete{
  background-color: $light-grey;
  border: 1px solid $darker-grey;
}

button.delete:hover{
  background-color:$light-orange;
}

button.add:hover{
  background-color:$yellow;
  color:$navy;
}

.no-scroll {
   overflow: hidden;
}

.recipe-box {
   z-index: 1;
   position: fixed;
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;
   background:  $trans-grey;
}

.recipe-detail{
   margin: 15vh auto;
}

.panel {
  border: none;
}

.panel-heading, .panel-footer {
  background-color: $navy !important;
  h2{
    color: $light-grey;
    text-align: center;
    font-size: 3em;
    font-family: $title-font;
  }
  i.fa-times{
    color: $light-grey;
  }
  .fa-heart {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  i.x-heart {
    color: transparent;
    position: absolute;
    bottom: 37px;
    right: 36px;
    &:hover{
      color: $trans-grey;
    }
  }
  i.plus-heart{
    color: transparent;
    position: absolute;
    bottom: 30px;
    right: 36px;
    &:hover{
      color: $trans-grey;
    }
  }

}

.remove-heart{
  color: $orange;
}

.plus-heart{
  color: transparent;
  position: absolute;
  bottom: 5px;
  right: 8px;
  &:hover{
    color: $trans-grey;
  }
}

.x-heart{
  color: transparent;
  position: absolute;
  bottom: 5px;
  right: 7px;
  &:hover{
    color: $trans-grey;
  }
}

.panel-body {
  background-color: $light-grey;
}
.time-yield-group {
  text-align: center;
  font-size: 1.25em;
  span{
    padding:3px;
    i{
      padding:5px;
    }
  }
}

.recipe-actions {
  .btn {
    padding:10px;
    margin: 10px;
  }
}

.recipe-tile{
  .thumbnail{
    border: none;
    background-color: $dark-grey;
    padding:10px;
    position:relative;
  }
  h3 {
    font-weight: bolder;
    font-size: 3em;
    padding: 20px;
    text-align: center;
  }
  &.no-image {
    .thumbnail {
      background-color: $purple;
    }

    h3 {
      font-family: $accent-font;
      color: $yellow;
    }
  }
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.icon-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  i{
    color: $light-blue;
  }
  .missing-number{
    border-radius: 30%;
    height:30px;
    width: 30px;
    border: 3px solid $navy;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    color: $navy;
    background-color: $light-blue;
    position:relative;
    p{
      text-align: center;
      position: relative;
      padding: 5px;
      font: $title-font;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    }
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.hide {
  display: hidden;
}
