/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'landing-page';
@import "uikit";
@import "uikit-components";

.ingredient-add {
  padding: 10px;
  text-align: center;
  margin: 5px;
}

body {
   overflow: hidden;
}

.recipe-box {
   z-index: 1;
   position: fixed;
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;
   background:  rgba(40,40,40, .75);
}

.recipe-detail{
   margin: 15vh auto;
   width: 80%;
   max-width: 700px;
   padding: 30px;
   background: rgba(255,255,255, .95);
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.hide {
  display: hidden;
}
